<div class="container">
<%= link_to '+ New Car', new_car_path, class: 'btn btn-green my-4' %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Bookings</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Cars</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="d-flex justify-content-around flex-wrap ">
      <% @bookings.each do |booking| %>

        <%= link_to car_path(booking.car.id), class: 'booking-text' do%>
          <div class="card-product my-4 booking-text ">
            <%= cl_image_tag booking.car.photo.key, class: 'car-photo' %>
            <div class="card-product-infos">
              <h2><%= booking.car.name %> <%= booking.car.model %> <%= booking.car.year %></h2>
              <div>
              <div class="d-flex show-question mb-2"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> Where?</span><p class="show-info"><%= booking.car.address%></p></div>

              <div class="d-flex show-question mb-2"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> What?</span><p class="show-info"><%= booking.car.category %></p></div>
              <div class="d-flex show-question"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> Price:</span><p class="show-info">AED<%= booking.car.price %></p></div>
            </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="d-flex justify-content-around flex-wrap">
      <% current_user.cars.each do |car|%>
        <%= link_to car_path(car.id), class: 'booking-text' do%>
            <div class="card-product my-4 booking-text ">
              <%= cl_image_tag car.photo.key, class: 'car-photo' %>
              <div class="card-product-infos">
                <h2><%= car.name %> <%= car.model %> <%= car.year %></h2>
                <div>
                <div class="d-flex show-question mb-2"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> Where?</span><p class="show-info"><%= car.address%></p></div>

                <div class="d-flex show-question mb-2"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> What?</span><p class="show-info"><%= car.category %></p></div>
                <div class="d-flex show-question"><span class="pt-2 mr-3 bigger-font"><i class="fas fa-car"></i> Price:</span><p class="show-info">AED<%= car.price %></p></div>
              </div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
