<div class="container mb-2">
<h2>Updated your listed car:</h2>
  <%= link_to 'Back', cars_path, class: 'btn btn-secondary mb-2' %>
  <%= simple_form_for [@car] do |f| %>
      <%= f.input :name %>
      <%= f.input :model %>
      <%= f.input :year %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.button :submit, class: "btn btn-primary w-100" %>
    <% end %>
</div>
