<div class="booking-text">
  <div class="d-flex align-items-center mt-4 margin-left booking-text fix-top filter-background" id="filters">
    <p class="m-0 mr-3">Filter by category:</p>
    <%= form_for cars_path, method: :get do%>
      <%= select_tag :category, options_for_select(Car::CATEGORIES) %>
      <%= submit_tag 'Apply', class: 'btn-green py-1' %>
    <% end %>
    <%= link_to cars_path, class: 'btn btn-danger ml-3 py-1 rounded-border' do%>
      <p class="m-0"><i class="fas fa-times-circle"></i> Remove Filter</p>
    <% end %>
  </div>
  <div class="row booking-text justify-content-around">
    <div class="col-6 d-flex flex-wrap booking-text">
      <% @cars.each do |car|%>
        <%= link_to car_path(car) do %>
          <div class="card-trip booking-text">
            <%= cl_image_tag car.photo.key, class: "car-photo"%>
            <div class="card-trip-infos text-left ">
              <div>
                <h2><%= car.name %></h2>
                <p><%= car.address%></p>
              </div>
              <h2 class="card-trip-pricing">AED<%= car.price %> / Day</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-5 w-100">
      <div id="map"
          class="fix-top"
          style="width: 100%; height: 600px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
